<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="mc.dismiss()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section *ngIf="gs.scanningData.length">
    <ion-item lines="full" *ngFor="let item of gs.scanningData; let i = index">
      <ion-label class="ion-text-wrap">
        {{i+1}}. {{item.text}}
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="presentAct(item,i)">
          <ion-icon slot="icon-only" name="ellipsis-horizontal-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </section>
  <section *ngIf="!gs.scanningData.length">
    <img src="assets/history.png" alt="">
    <div class="ion-text-center" style="position: absolute;bottom: 0;width: 100%;padding: 20px;">
        <ion-button (click)="mc.dismiss()" color="primary" shape="round" expand="block" style="height: 54px;">
            QR & Barcode Scan
        </ion-button>
    </div>
    <!-- <ion-item lines="full" *ngFor="let item of [1,2,3,4]; let i = index">
      <ion-label class="ion-text-wrap">
        item
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="presentAct(item.text,i)">
          <ion-icon slot="icon-only" name="ellipsis-horizontal-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-button (click)="gs.copyText(item.text)" slot="end" fill="clear">
        <ion-icon name="copy-outline" slot="start"></ion-icon>
        Copy
      </ion-button>
    </ion-item> -->
  </section>
</ion-content>
